/* 
COLOR PALETTE

Dark green    #3c8453
Sandy beige   #bcaa96
Dark gray     #222222
Light gray    #d3d4d6
Off-white     #f6f6f6
*/



/* GLOBAL STYLES
----------------------------------------------*/
/* 
  Border box fix
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    height: 100%;
}


body {
    background: #f6f6f6;
    color: #d3d4d6;
    background-color: rgb(100 100 100 / 0.7);
    text-shadow: 0px 1px 2px rgb(0 0 0 / 100%);
}

body:before {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	display: block;
	background:url(../images/laptop-3.jpg) no-repeat 50% 50%;
	background-size: cover;
    opacity: 0.95;
}

/* links */
a {
    color: #00FFFF;
}
a:hover {
    color: #bcaa96;
    text-decoration: none;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
    margin-bottom: 12vh;
    border-radius: 15px;
    /* background-color: rgb(0 0 0 / 0.9); */
}


/* HOME
----------------------------------------------*/


.home .content-wrapper {
    background-color: rgb(34 34 34 / 0.9);
    color: #d3d4d6;
}

.home header {
    text-align: center;
}

#home-header {
    margin-bottom: 2vh;
}



/* RESUME
----------------------------------------------*/
/* .resume header::before {
    background: url(../images/bg-home-office-studio.jpg) no-repeat;
    background-size:cover;
    background-position: center;
    content: "";
    display: block;
    height: 300px;
    width: 100%;
    
} */

/* .resume {
    background: url(../images/dark-sand-background.jpg) no-repeat;
} */

.resume header {
    margin-bottom: -10vh;
    text-align: left;
}

.resume header h1:first-of-type {
    text-align: center;
}
.resume header h2:first-of-type {
    text-align: center;
}

.resume .content-wrapper {

    background-color: rgb(34 34 34 / 0.9);
    color: #d3d4d6;
    margin-bottom: 13vh;

}





/* .self-image {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
} */

.resume-section {
    margin-bottom: 50px;
 
}
.resume-section h2 {
    border-bottom: 2px dashed #d3d4d6;
}


/* Profile
----------------------------------------------*/

/* Work Experience
----------------------------------------------*/

/* FOOTER
----------------------------------------------*/

footer {
    background-color: rgb(40 40 40 / 0.9);
    color: #d3d4d6;
    
    position: relative; 
    text-align: center;
    bottom: 10vh;
    border-radius: 15px;
    margin: auto auto auto auto;
    max-width: 900px;
    

    
}

/* footer::before: {
    margin-top: 100px;
} */

/* .home footer {
    position: fixed;
    width:100%;
    /* bottom:0px;  */
    /* margin-bottom: -1%;
    margin-left: -0.4%; 

} 
*/

/* footer a {
    color: #bcaa96
}
footer a:hover {
    color: #3c8453;
} */

.socials {
    list-style-type: none;
}

.socials li {
    display: inline;
    margin-left: 32px;
    
}

.socials img {
    position: relative;
    height: 32px;
    width: 32px;
    text-align: center;
    right: 4vh;

}

